@font-face
{
    font-family: 'Open Sans';
     src: url('fonts/OpenSans-Regular.ttf');
}
@font-face
{
    font-family: 'Open Sans Light';
     src: url('fonts/OpenSans-Light.ttf');
}
@font-face
{
    font-family: 'Open Sans Semi-Bold';
     src: url('fonts/OpenSans-Semibold.ttf');
}
@font-face
{
    font-family: 'Open Sans Italic';
     src: url('fonts/OpenSans-Italic.ttf');
}
@font-face
{
    font-family: 'Open Sans ExtraBold';
     src: url('fonts/OpenSans-ExtraBold.ttf');
}


*{
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input:focus,
textarea:focus,
a:focus,
a {
	outline: none;
}


html {
	-ms-touch-action: none;
}



body {
    font-family: 'Open Sans', 'HelveticaNeue', Helvetica, Arial;
    font-size:12px;
    color:#000;
}

#content,
#toolbar
{
    background: #FFF;
}
#toolbar
{
    height: 35px;
    border-bottom: 1px solid #C2C7D1;
}

    #open-left
    {
        height: 100%;
        background: url('../img/top/open.png') center center no-repeat;
    }

    #toolbar h1
    {
        top: 0px;
  		margin-top: 5px;
        color:#2D2F85;
        text-shadow: inherit;
    }

#content-center {
	position: absolute;
	z-index: 1;
	top: 35px;
	bottom: 0px;
	left: 0;
	width: 100%;
}

/*-------------- Iscroll5 ---------------------*/


.wrapper {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 48px;
	left: 0;
	width: 100%;
	background: #ccc;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}

#scroller li {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}

/*-------------- /Iscroll5 ---------------------*/



/*-------------- Aplicação ---------------------*/

#content
{
	background: url('../img/app/bg-body.jpg');
}

#toolbar
{
	background: url('../img/app/bg-menu.jpg');
}

#toolbar h1
{
	color:#FFF;
}

.snap-drawer
{
	background-color: #FFF;
}
	.snap-drawer li > a
	{
		text-shadow: none; 
		color: #F17904;
		text-transform: uppercase;
		color: #5F5D5D;
	}
		.nav>li>a:hover,
		.nav>li.active a
		{
		  background-color: #610099;
		  color: #FFFFFF;
		}

.home .logo
{
	max-width: 420px;
}

#scroller li
{
	height: auto;
	float: left;
	width: 100%;
	padding: 10px 0;
}

#scroller li h1
{
}

#scroller li img
{
	 border: 1px solid rgb(157, 157, 157);
	 padding: 3px;
}

.btn-primary
{
	background-color: #610099;
    border: none;
}


